---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Tag from "../../components/Tag.astro"

function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1))
    ;[array[i], array[j]] = [array[j], array[i]]
  }
  return array
}

const allPosts = await Astro.glob('../posts/*.{md,mdx}')
const noDraftPosts = allPosts.filter(post => !post.frontmatter.draft)
const posts = noDraftPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
const alltags = posts
  .map(post => post.frontmatter.tags)
  .flat()
  .filter(e => e)
const numAlltags = alltags.length
const tags = [...new Set(alltags)]

const kMostFrequent = function (nums: string[], k: number) {
  if (nums.length == 0) return []
  if (k > nums.length) return nums
  nums.sort()
  let grouped = nums.reduce((prev, curr) => {
    if (prev.length > 0 && curr === prev[prev.length - 1][0]) {
      prev[prev.length - 1].push(curr)
    } else {
      prev.push([curr])
    }
    return prev
  }, [])

  let lengths = grouped.map(lst => [lst.length, lst[0]])

  lengths.sort((a, b) => {
    return b[0] - a[0]
  })

  let mostFreq = []
  for (let i = 0; i < k; i++) {
    mostFreq.push(lengths[i][1])
  }

  return mostFreq
}

const k = Math.floor(numAlltags / 9)

const tagWeight = (tag: string) => {
  var tmp_tags = alltags
  for (let i = 9; i > 1; i--) {
    let ts = kMostFrequent(tmp_tags, k)
    if (ts.includes(tag)) {
      return i
    }
    tmp_tags = tmp_tags.filter(t => !ts.includes(t))
  }
  return 1
}

const title = 'Tags'
---

<BaseLayout title={title}>
  <div class="tags">
    {tags.sort().map((tag) => (
      <Tag name={tag} />
    ))}
  </div>
  <h2>A cloud of tags...</h2>
  <div class="txtcloud mt-1">
    <ul class="cloud" role="navigation" aria-label="word cloud">
      {
        shuffleArray(tags).map(tag => (
          <li>
            <a data-weight={tagWeight(tag)} href={`/tags/${tag}/`}>
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

