---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
    hasTex?: boolean
    noReadingTime?: boolean
    noComment?: boolean
  }
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    hasTex,
    noReadingTime,
    noComment
  }
} = Astro.props

const { minutesRead } = Astro.props.frontmatter
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <!-- Katex -->
    {
      hasTex && (
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
          integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
          crossorigin="anonymous"
        />
      )
    }
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <div class="mb-4">
          <h1 class="title">{title}</h1>
        </div>
        <div>
          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <span>
                | Last updated on <time>{updatedDate}</time>
              </span>
            )
          }
          {!noReadingTime && <span>| {minutesRead}</span>}
        </div>
        <hr />
        <slot />
      </article>
      {
        !noComment && (
          <div class="comment">
            <hr />
            <script
              is:inline
              src="https://giscus.app/client.js"
              data-repo="mgao6767/adriangao"
              data-repo-id="R_kgDOIEtKkQ"
              data-category="Comments"
              data-category-id="DIC_kwDOIEtKkc4CRzO3"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="1"
              data-input-position="top"
              data-theme="light"
              data-lang="en"
              data-loading="lazy"
              crossorigin="anonymous"
              async
            />
          </div>
        )
      }
    </main>
    <Footer />
  </body>
</html>
