---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Tag from '../components/Tag.astro'
import i18next from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
import { TranslationOutlined } from '@ant-design/icons'

const {
  // minutesRead,
  tags,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  hasTex,
  hasTranslation,
  noReadingTime,
  noComment
} = Astro.props.frontmatter

const { minutesRead } = Astro.props
---

<html lang={i18next.language}>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <!-- Katex -->
    {
      hasTex && (
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
          integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
          crossorigin="anonymous"
        />
      )
    }
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <div class="mb-4">
          <h1 class="title">{title}</h1>
        </div>
        <div>
          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <span>
                | Last updated on <time>{updatedDate}</time>
              </span>
            )
          }
          {!noReadingTime && <span>| {minutesRead}</span>}
        </div>
        {
          tags && (
            <div class="mt-1">
              Tags:
              {tags.map(tag => (
                <Tag name={tag} />
              ))}
            </div>
          )
        }
        {
          hasTranslation && (
            <div class="mt-1">
              <i style="display: inline-block;">
                <TranslationOutlined />
              </i>
              Translation is available:
              <LanguageSelector showFlag={true} class="language-selector" />
            </div>
          )
        }
        <hr />
        <slot />
        <hr />
        {
          tags && (
            <div class="mt-1">
              Tags:
              {tags.map(tag => (
                <Tag name={tag} />
              ))}
            </div>
          )
        }
      </article>
      {
        !noComment && (
          <div class="comment">
            <hr />
            <script
              is:inline
              src="https://giscus.app/client.js"
              data-repo="mgao6767/adriangao"
              data-repo-id="R_kgDOIEtKkQ"
              data-category="Comments"
              data-category-id="DIC_kwDOIEtKkc4CRzO3"
              data-mapping="pathname"
              data-strict="1"
              data-reactions-enabled="1"
              data-emit-metadata="1"
              data-input-position="top"
              data-theme="light"
              data-lang="en"
              data-loading="lazy"
              crossorigin="anonymous"
              async
            />
          </div>
        )
      }
    </main>
    <Footer />
  </body>
</html>
